body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;

    background-image: url('coal img.jpg'); /* Specify the path to your image */
    background-size: cover; /* Adjust the size as needed */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center; /* Center the image */
    
}

nav {
    background-color: #444;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: underline;
}

.content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
